<div class=" container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <h1>Entertainment</h1>
            <p>“Provide what audiences want,” is the first lesson for any entertainment</p>
        </div>
        <div class="col-lg-4">
            <a routerLink ="Home">Home</a>
            <a routerLink ="Movies">Movies</a>
            <a routerLink ="Sign in">Sign In</a>
            <a routerLink ="Sign up">Sign Up</a>
            <a routerLink ="Feedback">Feedback</a>


        </div>
        <div class="col-lg-2">
            <a href="#"><i class="bi bi-facebook"> Facbbok</i> </a>
            <a href="#"><i class="bi bi-google">Google</i> </a>
            

        </div>
    </div>
</div>